name: Release Preparation

on:
  push:
    branches: [ release/* ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
    - name: Checkout manifest repo
      uses: ./
      with:
        name: 'application.yaml'
        srcRevision: 'develop'
        destRevision: 'HEAD'
